@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-raleway: 'Raleway', sans-serif;
  --color-buttonblue: #745cf9;
  --color-shapelyshale: #041015;
  --color-shapelylight: #8c979e;
}

@layer components {
  .text-preset-h1 {
    @apply font-light tracking-normal leading-10 text-[2rem] md:leading-16  md:text-6xl text-white  text-center;
  }

  .text-preset-h2 {
    @apply font-light tracking-normal leading-8 text-2xl md:text-3xl md:leading-9 text-shapelyshale  text-left;
  }

  .text-preset-h2-light {
    @apply font-light tracking-normal leading-8 text-2xl md:text-3xl md:leading-9 text-white  text-left;
  }

  .text-preset-h3 {
    @apply font-light tracking-normal leading-6 text-xs md:text-sm text-white  text-center;
  }

  .text-preset-p {
    @apply font-light text-xs tracking-normal leading-6 md:text-sm text-shapelylight text-left;
  }

  .text-preset-p-light {
    @apply font-light text-xs tracking-normal leading-6 md:text-sm text-white;
  }

  .text-preset-button {
    @apply font-bold text-xs tracking-[1px] leading-6 text-white text-center;
  }

  .text-menu {
    @apply font-medium text-sm tracking-[-1px] leading-13;
  }
  .attribution {
    @apply text-sm my-6 text-center;
  }

  .attribution a {
    @apply text-blue-800;
  }
}
