@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-raleway: 'Raleway', sans-serif;
  --color-buttonblue: #745cf9;
  --color-shapelyshale: #041015;
}

@layer components {
  .text-preset-h1 {
    @apply font-light tracking-normal leading-10 text-[2rem] md:leading-16  md:text-6xl text-white  text-center;
  }

  .text-preset-h2 {
    @apply font-light tracking-normal leading-8 text-2xl md:text-3xl md:leading-9 text-shapelyshale  text-left;
  }

  .text-preset-h3 {
    @apply font-light tracking-normal leading-6 text-xs md:text-sm text-white  text-center;
  }

  .text-preset-button {
    @apply font-bold text-xs tracking-[1px] leading-6 text-white text-center;
  }
  .attribution {
    @apply text-sm my-6;
  }

  .attribution a {
    @apply text-blue-800;
  }
}

.text-preset-h2-light {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
  color: #ffffff;
}

.text-preset-p {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #8c979e;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
